@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.form-container{
    height: 100vh;
    padding-top:5em;
    padding-bottom:8em;
}

.form-style{
    text-align: center; 
    background-color: #53B8BB;
    box-shadow: 1px 1px 6px rgba(0,0,0,0.3);
    width: 80%;
    max-width: 400px;
    border-radius: 3%;
    margin: auto; 
    padding: 0 15px 10px 15px;
}

.form-control{
    margin-top:20px;
    margin-bottom: 5px;
}

.errorLogin{
    border: 1.5px solid #cd0a0a;
    font-size:small;
    background: #fef1ec;
    color: #cd0a0a;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 1px 1px 4px #000;
    border-radius: 5px;
    width: 80%;
    margin: 10px auto;
    padding: 5px 5px;
}

td {
    padding: 0px 5px;
  }



table{
    margin: 15px auto
}

a{
    margin: 10px 10px;
}

h2{
   margin: auto;
   text-align: center; 
   font-family: 'Montserrat', sans-serif;
   text-shadow: 1px 1px 0.8px gray;
}

label{
    font-family: 'Montserrat', sans-serif;
    padding-top:1em;

}

.btn{
    font-family: 'Montserrat', sans-serif;
}

input[type=text]{
    font-family: 'Montserrat', sans-serif !important;
}