{% extends "home/base.html" %}


{% load static %}

{% block css %}

<link href="{% static 'css/contacto.css' %}" rel="stylesheet">

{% endblock %}

{% block title %}

Contacto

{% endblock %}



{% block content %}

<section class="form-container">

  <h2>Atención al cliente</h2>

  <h5>Escriba el asunto y el contenido de la consulta:</h5>

  <div>

    <form action="/contacto/" method="POST" class="form-style">
      {% csrf_token %}

      <table>
        {{formulario.as_table}}
      </table>

      <div>

        {% if "validez" in request.GET %}

        <p class="validate">Informacion enviada correctamente. Gracias.</p>

        {% endif %}

        {% if "error" in request.GET %}

        <p class="error">Se ha producido un error. Sentimos las molestias.</p>

        {% endif %}

      </div>

      <input type="submit" value="Enviar" style="width: 150px;" class="btn btn-primary" />

    </form>

  </div>

</section>


{% endblock %}